.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

#cover input, #cover button
{
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover
{
    position: absolute;
    left: -150px;
    margin: auto;
    width: 840px;
    padding: 30px;
    background-color: #D8B384;
    border-radius: 20px;
    box-shadow: 0 10px 40px #D8B384, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
}

#cover input{
    outline: 0;
}

#cover form
{
    height: 40px;
}

#cover input[type="text"]
{
    width: 100%;
    height: 40px;
    font-size: 50px;
    line-height: 1;
}

#cover input[type="text"]::placeholder
{
    color: #5E454B99;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

#cover button
{
    position: relative;
    display: block;
    width: 60px;
    height: 40px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -11px;
    left: 0;
    width: 50px;
    height: 50px;
    margin-top: 0;
    border: 12px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

#cover button span
{
    position: absolute;
    top: 27px;
    left: 17px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

#cover button span:before, #cover button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28px;
    height: 12px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: 0px;
    width: 50px;
    height: 12px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 25px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover #cover button span:before, #s-cover:hover #cover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #fff;
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  text-decoration: none;
  background-color: #ff7575;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(255, 117, 117, 0.86);
  z-index: 125;
}